<div class="container">
    <h3 class="alert alert-dark text-dark text-center">All Categories</h3>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <table class="table table-bordered border-success text-white text-center">
                <thead class="bg-primary">
                    <tr>
                    <th>Title</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-hover ">
                    {{#each categories}}
                        
                    
                    <tr>
                    <td class="text-dark">{{this.title}}</td>
                    <td >
                          <a href="/admin/category/delete/{{this._id}}" class="btn btn-danger">Delete</a>


                    </td>
                    </tr>
                    {{/each}}



                </tbody>



            </table>















        </div>















    </div>
    <hr>
    <div class="row p-4">
    <div class="col-md-10">
        <form action="category" method="post" autocomplete="off">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="category-title" class="form-control" required placeholder="Enter Category">

            </div>
            <button id="category-btn" type="submit" class="btn btn-outline-success">Create Category</button>




        </form>



    </div>



    </div>











</div>