<footer class="py-5 bg-dark " style="height: 50px;" >
    <div class="container" style="width: 100%;"></div>
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    
  </footer>
  
    <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
